<h1>And your match is:</h1>
<br>
<h3>{{ match.name }}!</h3>
<img class="res-image" src={{ match.photo_url }} alt="Match Photo">
<p>May you enjoy your new life together!</p>

<a class="btn btn-success" href="/survey" role="button">Or try again ...</a>



