<form method="post">
  <h1>Survey</h1>
  <h3>About You</h3>
  <div class="form-group">
    <label for="username">Name (Required)</label>
    <input type="text" class="form-control" name="username" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label for="photourl">Link to Photo Image (url)</label>
    <input type="text" class="form-control" name="photourl" placeholder="Enter photo url">
  </div>
  <h3>Questions</h3>
  <div class="form-group">
    <label for="q1">Generally speaking, you rely more on your experience than your imagination.</label>
    <select class="form-control" id="q1" name="q1">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="q2">You find it easy to stay relaxed and focused even when there is some pressure.</label>
    <select class="form-control" id="q2" name="q2">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="q3">You rarely do something just out of sheer curiosity.</label>
    <select class="form-control" id="q3" name="q3">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="q4">People can rarely upset you.</label>
    <select class="form-control" id="q4" name="q4">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
  </div>  
  <div class="form-group">
    <label for="q5">It is often difficult for you to relate to other people’s feelings.</label>
    <select class="form-control" id="q5" name="q5">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="q6">In a discussion, truth should be more important than people’s sensitivities.</label>
    <select class="form-control" id="q6" name="q6">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>